.service {
    max-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 90vh;
    background: url('../../assets/service/service-background.png') no-repeat center center/cover;

    header {
        .service__nav {
            cursor: pointer;
            padding-top: 8%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 11vh;
            position: relative;

            .service__logo {
                margin-right: 52px;
                width: 45px;
                height: 45px;
            }

            ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: white;
                        font-style: bold;
                        font-family: sans-serif;
                        font-weight: 600;
                    }

                    a:hover {
                        color: #B7EAAF;
                        transition: 0.5s all ease-in;
                    }
                }

                button {
                    cursor: pointer;
                    width: 110px;
                    height: 30px;
                    border-radius: 10px;
                    font-size: 15px;
                    font-style: bold;
                    font-weight: 600;
                    font-family: sans-serif;
                    background-color: #B7EAAF;
                    outline: none;
                    border: none;
                    text-decoration: none;
                }
            }

            .burger {
                display: none;
                cursor: pointer;

                div {
                    width: 25px;
                    height: 3px;
                    background-color: white;
                    margin: 5px;
                    transition: all 0.3s ease;
                }
            }

            @media screen and (max-width: 768px) {
                .service__logo {
                    margin-right: 500px;
                }

                .burger {
                    display: block;
                    z-index: 2;
                }

                .nav-links {
                    position: fixed;
                    right: -100%;
                    top: 0;
                    height: 100vh;
                    background: rgba(0, 0, 0, 0.9);
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    width: 50%;
                    padding: 70px 0;
                    transition: right 0.5s ease;

                    li {
                        opacity: 0;
                    }
                }

                .nav-active {
                    right: 0;
                }

                .toggle .line1 {
                    transform: rotate(-45deg) translate(-5px, 6px);
                }

                .toggle .line2 {
                    opacity: 0;
                }

                .toggle .line3 {
                    transform: rotate(45deg) translate(-5px, -6px);
                }
            }
        }
    }

    .center {
        margin-top: 4%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 70vh;

        .card {
            width: 55%;
            height: 70vh;
            border-radius: 20px;
            border: 1px solid black;
            background-image:
                linear-gradient(135deg,
                    rgba(33, 63, 54, 0.8) 10%,
                    rgba(33, 63, 54, 0.5) 50%,
                    rgba(33, 63, 54, 0.4) 80%,
                    rgba(33, 63, 54, 0.1) 100%),
                url('../../assets/service/service-card.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}


@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}